## A tener en cuenta:

#### Respecto a la BBDD:
- La base de datos se implementa en Amazon RDS, utilizando el motor MySQL.
- La base de datos tiene acceso público por si es necesario validar los datos.
- Los parámetros de conexión (HOST, USER, PASSWORD y DB_NAME) deben definirse a través de variables de entorno o en un archivo .env para evitar su exposición en el código fuente.
- La conexión a la base de datos se realiza utilizando un administrador de contexto, lo que asegura que la conexión se cierre adecuadamente una vez completadas las operaciones.

### Respecto al Pipeline y las validaciones
- Se implementaron generadores (`yiled`) y se usó el método `chunk` de `pandas` para procesar los datos por _micro batches_ y asegurar un uso eficiente de memoria y almacenamiento durante el procesamiento de los archivos.
- El seguimiento a las estadísticas solicitadas se encuentra en los archivo <font color="Khaki">metrics-pipeline.log</font> y <font color="Khaki">metrics-validation.log</font>, respectivamente.
- Las estadísticas se actualizan después de la inserción de cada fila.
- Para calcular las estadísticas acumuladas <font size="1">(recuento total de filas, valor promedio, valor mínimo y valor máximo para el campo “price”)</font> los resultados intermedios se almacenan  en memoria, así se evita hacer “SELECT avg (price)..." a los nuevos registros.
- El archivo <font color="Khaki">logs.log</font> se utiliza para registrar el flujo de ejecución del proceso.

### Know Issues:
- Se debe mejorar la claridad y el nivel de detalle en algunos _docstrings_.
- Se debe agregar pruebas unitarias para validar el comportamiento esperado de las diferentes funciones.
- Se debe mejorar el manejo de excepciones en el código para capturar y manejar específicamente los diferentes tipos de errores que pueden ocurrir en cada etapa del proceso.

### Recomendaciones
- Se debería crear una rama de desarrollo en Git para seguir el flujo de trabajo Gitflow.
- Se debería crear de una clase `BaseModel`  de `Pydantic`  para la validación de los tipos de datos antes de ser insertados en las tablas de la base de datos.
- Se debería implementar un DAG de Airflow para ejecutar automáticamente el proceso, monitorear el flujo de trabajo y, en caso de fallo, reiniciar el pipeline desde el último punto exitoso (evitando la re-ejecución completa del proceso)

In [1]:
import config.config as cfg
from config import LoggerConfig, logger
from etl import get_data_files
from run_data_pipeline import run_data_pipeline
from utils import MySQLDatabase

In [2]:
# Define process constants
TABLE_NAME = "pragma_sales"
CHUNK_SIZE = 5

DB_HOST = cfg.DB_HOST
DB_USER = cfg.DB_USER
DB_PASSWORD = cfg.DB_PASSWORD
DB_NAME = cfg.DB_NAME

# Set up loggers
metrics_logger = LoggerConfig("metrics-pipeline", stream_handler=False).get_logger()

# Set up database connection
db = MySQLDatabase(DB_HOST, DB_USER, DB_PASSWORD, DB_NAME)

In [3]:
# Run the ETL process 
logger.info("Starting ETL process")
with db:
    # Create the table 'pragma_sales' in the database
    logger.info(f"Creating table '{TABLE_NAME}'...")
    db.drop_table(f"DROP TABLE IF EXISTS {TABLE_NAME}")
    db.create_table(
        f"""
        CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
            pk INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
            timestamp DATETIME DEFAULT NULL,
            day INT DEFAULT NULL,
            month INT DEFAULT NULL,
            year INT DEFAULT NULL,
            price FLOAT DEFAULT NULL,
            user_id INT DEFAULT NULL,
            processed_date DATETIME DEFAULT NULL
        )
        """
    )

    # Get files to process, excluding validation file
    files = get_data_files(exclude_validation=True)

    # Process the data files and load it into the database
    run_data_pipeline(
        files,
        db,
        table_name=TABLE_NAME,
        chunk_size=CHUNK_SIZE,
        metrics_logger=metrics_logger,
    )
    logger.info("ETL process finished successfully")

2024-11-18 14:48:16 - INFO - Starting ETL process
2024-11-18 14:48:17 - INFO - Connected successfully to the RDS 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com'
2024-11-18 14:48:17 - INFO - Creating table 'pragma_sales'...
2024-11-18 14:48:17 - DEBUG - Executing SQL statement 'DROP TABLE IF EXISTS pragma_sales'...
2024-11-18 14:48:17 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:17 - DEBUG - Executing SQL statement 'CREATE TABLE IF NOT EXISTS pragma_sales ( pk INT NOT NULL AUTO_INCREMENT PRIMARY KEY, timestamp DATETIME DEFAULT NULL, day INT DEFAULT NULL, month INT DEFAULT NULL, year INT DEFAULT NULL, price FLOAT '...
2024-11-18 14:48:17 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:17 - INFO - Processing file './data/2012-1.csv'...
2024-11-18 14:48:17 - DEBUG - Processing microbatch 1...
2024-11-18 14:48:17 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-10 00:00:00, 10, 1, 2012, 50, 9, 2024-11-18 14:48:17.503339)'...
2024-11-18 14:48:17 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:17 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-11 00:00:00, 11, 1, 2012, 87, 10, 2024-11-18 14:48:17.503339)'...
2024-11-18 14:48:17 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:17 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-12 00:00:00, 12, 1, 2012, 64, 7, 2024-11-18 14:48:17.503339)'...
2024-11-18 14:48:18 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:18 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-13 00:00:00, 13, 1, 2012, 20, 10, 2024-11-18 14:48:17.503339)'...
2024-11-18 14:48:18 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:18 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-14 00:00:00, 14, 1, 2012, 14, 10, 2024-11-18 14:48:17.503339)'...
2024-11-18 14:48:18 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:18 - DEBUG - Microbatch 1 processed successfully
2024-11-18 14:48:18 - DEBUG - Processing microbatch 2...
2024-11-18 14:48:18 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-15 00:00:00, 15, 1, 2012, 95, 8, 2024-11-18 14:48:18.354332)'...
2024-11-18 14:48:18 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:18 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-16 00:00:00, 16, 1, 2012, 95, 2, 2024-11-18 14:48:18.354332)'...
2024-11-18 14:48:18 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:18 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-17 00:00:00, 17, 1, 2012, 62, 4, 2024-11-18 14:48:18.354332)'...
2024-11-18 14:48:18 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:18 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-18 00:00:00, 18, 1, 2012, 46, 8, 2024-11-18 14:48:18.354332)'...
2024-11-18 14:48:19 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:19 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-19 00:00:00, 19, 1, 2012, 97, 2, 2024-11-18 14:48:18.354332)'...
2024-11-18 14:48:19 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:19 - DEBUG - Microbatch 2 processed successfully
2024-11-18 14:48:19 - DEBUG - Processing microbatch 3...
2024-11-18 14:48:19 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-20 00:00:00, 20, 1, 2012, 31.0, 1, 2024-11-18 14:48:19.291584)'...
2024-11-18 14:48:19 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:19 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-21 00:00:00, 21, 1, 2012, None, 2, 2024-11-18 14:48:19.291584)'...
2024-11-18 14:48:19 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:19 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-22 00:00:00, 22, 1, 2012, 37.0, 1, 2024-11-18 14:48:19.291584)'...
2024-11-18 14:48:19 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:19 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-23 00:00:00, 23, 1, 2012, 74.0, 7, 2024-11-18 14:48:19.291584)'...
2024-11-18 14:48:19 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:19 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-24 00:00:00, 24, 1, 2012, 45.0, 5, 2024-11-18 14:48:19.291584)'...
2024-11-18 14:48:20 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:20 - DEBUG - Microbatch 3 processed successfully
2024-11-18 14:48:20 - DEBUG - Processing microbatch 4...
2024-11-18 14:48:20 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-25 00:00:00, 25, 1, 2012, 27, 5, 2024-11-18 14:48:20.143911)'...
2024-11-18 14:48:20 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:20 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-26 00:00:00, 26, 1, 2012, 78, 4, 2024-11-18 14:48:20.143911)'...
2024-11-18 14:48:20 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:20 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-27 00:00:00, 27, 1, 2012, 42, 6, 2024-11-18 14:48:20.143911)'...
2024-11-18 14:48:20 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:20 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-28 00:00:00, 28, 1, 2012, 45, 8, 2024-11-18 14:48:20.143911)'...
2024-11-18 14:48:20 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:20 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-29 00:00:00, 29, 1, 2012, 96, 9, 2024-11-18 14:48:20.143911)'...
2024-11-18 14:48:21 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:21 - DEBUG - Microbatch 4 processed successfully
2024-11-18 14:48:21 - DEBUG - Processing microbatch 5...
2024-11-18 14:48:21 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-30 00:00:00, 30, 1, 2012, None, 2, 2024-11-18 14:48:21.010247)'...
2024-11-18 14:48:21 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:21 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-01-31 00:00:00, 31, 1, 2012, 88.0, 1, 2024-11-18 14:48:21.010247)'...
2024-11-18 14:48:21 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:21 - DEBUG - Microbatch 5 processed successfully
2024-11-18 14:48:21 - INFO - File './data/2012-1.csv' processed successfully
2024-11-18 14:48:21 - INFO - Processing file './data/2012-2.csv'...
2024-11-18 14:48:21 - DEBUG - Processing microbatch 1...
2024-11-18 14:48:21 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-01 00:00:00, 1, 2, 2012, 76, 1, 2024-11-18 14:48:21.352715)'...
2024-11-18 14:48:21 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:21 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-02 00:00:00, 2, 2, 2012, 66, 1, 2024-11-18 14:48:21.352715)'...
2024-11-18 14:48:21 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:21 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-03 00:00:00, 3, 2, 2012, 47, 10, 2024-11-18 14:48:21.352715)'...
2024-11-18 14:48:21 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:21 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-04 00:00:00, 4, 2, 2012, 100, 5, 2024-11-18 14:48:21.352715)'...
2024-11-18 14:48:22 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:22 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-05 00:00:00, 5, 2, 2012, 19, 4, 2024-11-18 14:48:21.352715)'...
2024-11-18 14:48:22 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:22 - DEBUG - Microbatch 1 processed successfully
2024-11-18 14:48:22 - DEBUG - Processing microbatch 2...
2024-11-18 14:48:22 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-06 00:00:00, 6, 2, 2012, 59, 8, 2024-11-18 14:48:22.207129)'...
2024-11-18 14:48:22 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:22 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-07 00:00:00, 7, 2, 2012, 77, 3, 2024-11-18 14:48:22.207129)'...
2024-11-18 14:48:22 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:22 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-08 00:00:00, 8, 2, 2012, 100, 8, 2024-11-18 14:48:22.207129)'...
2024-11-18 14:48:22 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:22 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-09 00:00:00, 9, 2, 2012, 55, 1, 2024-11-18 14:48:22.207129)'...
2024-11-18 14:48:22 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:22 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-10 00:00:00, 10, 2, 2012, 19, 2, 2024-11-18 14:48:22.207129)'...
2024-11-18 14:48:23 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:23 - DEBUG - Microbatch 2 processed successfully
2024-11-18 14:48:23 - DEBUG - Processing microbatch 3...
2024-11-18 14:48:23 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-11 00:00:00, 11, 2, 2012, 95, 3, 2024-11-18 14:48:23.125197)'...
2024-11-18 14:48:23 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:23 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-12 00:00:00, 12, 2, 2012, 73, 2, 2024-11-18 14:48:23.125197)'...
2024-11-18 14:48:23 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:23 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-13 00:00:00, 13, 2, 2012, 32, 1, 2024-11-18 14:48:23.125197)'...
2024-11-18 14:48:23 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:23 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-14 00:00:00, 14, 2, 2012, 95, 5, 2024-11-18 14:48:23.125197)'...
2024-11-18 14:48:23 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:23 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-15 00:00:00, 15, 2, 2012, 12, 8, 2024-11-18 14:48:23.125197)'...
2024-11-18 14:48:23 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:23 - DEBUG - Microbatch 3 processed successfully
2024-11-18 14:48:23 - DEBUG - Processing microbatch 4...
2024-11-18 14:48:23 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-16 00:00:00, 16, 2, 2012, 37, 8, 2024-11-18 14:48:23.973208)'...
2024-11-18 14:48:24 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:24 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-17 00:00:00, 17, 2, 2012, 28, 10, 2024-11-18 14:48:23.973208)'...
2024-11-18 14:48:24 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:24 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-18 00:00:00, 18, 2, 2012, 10, 5, 2024-11-18 14:48:23.973208)'...
2024-11-18 14:48:24 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:24 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-19 00:00:00, 19, 2, 2012, 27, 9, 2024-11-18 14:48:23.973208)'...
2024-11-18 14:48:24 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:24 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-20 00:00:00, 20, 2, 2012, 14, 9, 2024-11-18 14:48:23.973208)'...
2024-11-18 14:48:24 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:24 - DEBUG - Microbatch 4 processed successfully
2024-11-18 14:48:24 - DEBUG - Processing microbatch 5...
2024-11-18 14:48:24 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-21 00:00:00, 21, 2, 2012, 87, 5, 2024-11-18 14:48:24.838430)'...
2024-11-18 14:48:25 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:25 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-22 00:00:00, 22, 2, 2012, 75, 7, 2024-11-18 14:48:24.838430)'...
2024-11-18 14:48:25 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:25 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-23 00:00:00, 23, 2, 2012, 36, 8, 2024-11-18 14:48:24.838430)'...
2024-11-18 14:48:25 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:25 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-24 00:00:00, 24, 2, 2012, 84, 8, 2024-11-18 14:48:24.838430)'...
2024-11-18 14:48:25 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:25 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-25 00:00:00, 25, 2, 2012, 62, 6, 2024-11-18 14:48:24.838430)'...
2024-11-18 14:48:25 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:25 - DEBUG - Microbatch 5 processed successfully
2024-11-18 14:48:25 - DEBUG - Processing microbatch 6...
2024-11-18 14:48:25 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-26 00:00:00, 26, 2, 2012, 56, 6, 2024-11-18 14:48:25.710615)'...
2024-11-18 14:48:25 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:25 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-27 00:00:00, 27, 2, 2012, 17, 4, 2024-11-18 14:48:25.710615)'...
2024-11-18 14:48:26 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:26 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-28 00:00:00, 28, 2, 2012, 64, 7, 2024-11-18 14:48:25.710615)'...
2024-11-18 14:48:26 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:26 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-02-29 00:00:00, 29, 2, 2012, 68, 3, 2024-11-18 14:48:25.710615)'...
2024-11-18 14:48:26 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:26 - DEBUG - Microbatch 6 processed successfully
2024-11-18 14:48:26 - INFO - File './data/2012-2.csv' processed successfully
2024-11-18 14:48:26 - INFO - Processing file './data/2012-3.csv'...
2024-11-18 14:48:26 - DEBUG - Processing microbatch 1...
2024-11-18 14:48:26 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-01 00:00:00, 1, 3, 2012, 75, 9, 2024-11-18 14:48:26.414432)'...
2024-11-18 14:48:26 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:26 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-02 00:00:00, 2, 3, 2012, 12, 5, 2024-11-18 14:48:26.414432)'...
2024-11-18 14:48:26 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:26 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-03 00:00:00, 3, 3, 2012, 71, 4, 2024-11-18 14:48:26.414432)'...
2024-11-18 14:48:26 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:26 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-04 00:00:00, 4, 3, 2012, 73, 5, 2024-11-18 14:48:26.414432)'...
2024-11-18 14:48:27 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:27 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-05 00:00:00, 5, 3, 2012, 21, 2, 2024-11-18 14:48:26.414432)'...
2024-11-18 14:48:27 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:27 - DEBUG - Microbatch 1 processed successfully
2024-11-18 14:48:27 - DEBUG - Processing microbatch 2...
2024-11-18 14:48:27 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-06 00:00:00, 6, 3, 2012, 27, 7, 2024-11-18 14:48:27.285715)'...
2024-11-18 14:48:27 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:27 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-07 00:00:00, 7, 3, 2012, 81, 10, 2024-11-18 14:48:27.285715)'...
2024-11-18 14:48:27 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:27 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-08 00:00:00, 8, 3, 2012, 99, 2, 2024-11-18 14:48:27.285715)'...
2024-11-18 14:48:27 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:27 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-03-09 00:00:00, 9, 3, 2012, 69, 2, 2024-11-18 14:48:27.285715)'...
2024-11-18 14:48:27 - DEBUG - SQL statement executed successfully

In [4]:
logger.info("Validating data...")
with db:
    # Select
    result = db.select(
        f"""
        SELECT COUNT(*), AVG(price), MIN(price), MAX(price)        
        FROM {TABLE_NAME}
        """,
    )
    if result:
        logger.info(f"Number of rows: {result[0][0]}")
        logger.info(f"Average price: {result[0][1]}")
        logger.info(f"Min price: {result[0][2]}")
        logger.info(f"Max price: {result[0][3]}")

2024-11-18 14:48:45 - INFO - Validating data...
2024-11-18 14:48:46 - INFO - Connected successfully to the RDS 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com'
2024-11-18 14:48:46 - DEBUG - Executing SQL statement 'SELECT COUNT(*), AVG(price), MIN(price), MAX(price) FROM pragma_sales'...
2024-11-18 14:48:46 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:46 - INFO - Number of rows: 143
2024-11-18 14:48:46 - INFO - Average price: 57.884892086330936
2024-11-18 14:48:46 - INFO - Min price: 10.0
2024-11-18 14:48:46 - INFO - Max price: 100.0
2024-11-18 14:48:46 - INFO - Connection to the database 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com' has been closed

In [5]:
# Set up loggers
metrics_logger = LoggerConfig("metrics-validation", stream_handler=False).get_logger()

# Run the validation process
logger.info("Starting validation process")
with db:
    # Get files to process, only validation file
    files = get_data_files(only_validation=True)

    # Process the data files and load it into the database
    run_data_pipeline(
        files,
        db,
        table_name=TABLE_NAME,
        chunk_size=CHUNK_SIZE,
        metrics_logger=metrics_logger,
    )
    logger.info("Validation process finished successfully")

2024-11-18 14:48:51 - INFO - Starting validation process
2024-11-18 14:48:52 - INFO - Connected successfully to the RDS 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com'
2024-11-18 14:48:52 - INFO - Processing file './data/validation.csv'...
2024-11-18 14:48:52 - DEBUG - Processing microbatch 1...
2024-11-18 14:48:52 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-01 00:00:00, 1, 6, 2012, 26, 10, 2024-11-18 14:48:52.290710)'...
2024-11-18 14:48:52 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:52 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-02 00:00:00, 2, 6, 2012, 11, 8, 2024-11-18 14:48:52.290710)'...
2024-11-18 14:48:52 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:52 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-03 00:00:00, 3, 6, 2012, 13, 9, 2024-11-18 14:48:52.290710)'...
2024-11-18 14:48:52 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:52 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-04 00:00:00, 4, 6, 2012, 92, 7, 2024-11-18 14:48:52.290710)'...
2024-11-18 14:48:52 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:52 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-05 00:00:00, 5, 6, 2012, 31, 10, 2024-11-18 14:48:52.290710)'...
2024-11-18 14:48:53 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:53 - DEBUG - Microbatch 1 processed successfully
2024-11-18 14:48:53 - DEBUG - Processing microbatch 2...
2024-11-18 14:48:53 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-06 00:00:00, 6, 6, 2012, 62, 3, 2024-11-18 14:48:53.146801)'...
2024-11-18 14:48:53 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:53 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-07 00:00:00, 7, 6, 2012, 13, 4, 2024-11-18 14:48:53.146801)'...
2024-11-18 14:48:53 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:53 - DEBUG - Executing SQL statement 'INSERT INTO pragma_sales(timestamp, day, month, year, price, user_id, processed_date) VALUES (2012-06-08 00:00:00, 8, 6, 2012, 86, 7, 2024-11-18 14:48:53.146801)'...
2024-11-18 14:48:53 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:53 - DEBUG - Microbatch 2 processed successfully
2024-11-18 14:48:53 - INFO - File './data/validation.csv' processed successfully
2024-11-18 14:48:53 - INFO - Validation process finished successfully
2024-11-18 14:48:53 - INFO - Connection to the database 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com' has been closed

In [6]:
logger.info("Validating data with validation file...")
with db:
    # Select
    result = db.select(
        f"""
        SELECT COUNT(*), AVG(price), MIN(price), MAX(price)        
        FROM {TABLE_NAME}
        """,
    )
    if result:
        logger.info(f"Number of rows: {result[0][0]}")
        logger.info(f"Average price: {result[0][1]}")
        logger.info(f"Min price: {result[0][2]}")
        logger.info(f"Max price: {result[0][3]}")

2024-11-18 14:48:55 - INFO - Validating data with validation file...
2024-11-18 14:48:56 - INFO - Connected successfully to the RDS 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com'
2024-11-18 14:48:56 - DEBUG - Executing SQL statement 'SELECT COUNT(*), AVG(price), MIN(price), MAX(price) FROM pragma_sales'...
2024-11-18 14:48:56 - DEBUG - SQL statement executed successfully
2024-11-18 14:48:56 - INFO - Number of rows: 151
2024-11-18 14:48:56 - INFO - Average price: 57.006802721088434
2024-11-18 14:48:56 - INFO - Min price: 10.0
2024-11-18 14:48:56 - INFO - Max price: 100.0
2024-11-18 14:48:56 - INFO - Connection to the database 'database-pragma.chowsgwustl6.us-east-1.rds.amazonaws.com' has been closed